/* Import the custom font */
@font-face {
    font-family: 'Phosphate Pro Cond Solid';
    src: url('../fonts/phosphate_pro_cond_solid_regular_fixed.otf') format('opentype');
}

@font-face {
    font-family: 'Phosphate Pro Solid';
    src: url('../fonts/phosphate_pro_solid_fixed.otf') format('opentype');
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url('../fonts/bookman_old_style.TTF') format('opentype');
}

@font-face {
    font-family: 'Phosphate Pro Cond Inline';
    src: url('../fonts/phosphate_pro_cond_inline_regular_fixed.otf') format('opentype');
}

/* The primary colours to make a consistency website colour */
:root {
    --primary-font: 'Phosphate Pro Cond Solid', sans-serif;
    --primary-font-second: 'Phosphate Pro Solid', sans-serif;
    --primary-font-third: 'Bookman Old Style', sans-serif;
    --primary-font-fourth: 'Phosphate Pro Cond Inline';
    --primary-white: #ffffff;
    --primary-black: #000000;
    --primary-red: #E42D26;
    --primary-yellow: #FDC010;
    --primary-blue: #2FBEC2;
}

/* Apply the custom font and color */
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Changing the colour in navbar */
.navbar {
    background: var(--primary-white);
    font-family: var(--primary-font) !important;
}

/* Remove border from the navbar toggler button */
.navbar-light .navbar-toggler {
    border: 0 solid white;
}

/* Styling for navbar toggler button */
.nav-toggler {
    width: 40px;
    height: 40px;
    position: relative;
    transition: .5s ease-in-out;

}

/* Remove focus outlines and borders from navbar toggler */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

/* Remove margin and padding from span  */
.navbar-toggler span {
    margin: 0;
    padding: 0;
}


/* Fixing Navbar Toggler Styling */
.navbar-toggler {
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38px;
    width: 65px;
}

/* ----------- Toggler Icon Bars ----------- */

/* Styling for top bar */
.top-bar {
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-blue);
    transition: all 0.3s ease-in-out;
}


/* Styling for middle bar */
.middle-bar {
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-yellow);
    transition: all 0.3s ease-in-out;
}


/* Styling for bottom bar */
.bottom-bar {
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-red);
    transition: all 0.3s ease-in-out;
}

/* ----------- Toggler Animation ----------- */

/* Animation effect when the navbar toggler is active */
.navbar-toggler:not(.collapsed) .top-bar {
    transform: translateY(12px) rotate(45deg);


}

/* Hide middle bar */
.navbar-toggler:not(.collapsed) .middle-bar {
    opacity: 0;

}

/* Animation effect when the navbar toggler is active */
.navbar-toggler:not(.collapsed) .bottom-bar {
    transform: translateY(-12px) rotate(-45deg);

}

/* Reset when collapsed */
.navbar-toggler.collapsed .top-bar,
.navbar-toggler.collapsed .bottom-bar {
    transform: none;
}

/* Show the bar again after the reset */
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;

}

/* ----------- The index ----------- */

/* Fullscreen image with overlay text support */
.front_img {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Large title in the front image section */
#intro_title {
    font-size: 10rem;
    font-family: var(--primary-font-second) !important;
    color: var(--primary-yellow);

}

/* Overlay for a dark opacity over background image */
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    margin: auto;
}

/* Hero section styling */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/mens_race_group.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Hero title styling */
#hero h1 {
    font-family: var(--primary-font);
    color: var(--primary-yellow);
    font-size: 4rem;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#hero h4 {
    color: var(--primary-white);
    font-family: var(--primary-font-third) !important;
}

.title_font {
    font-family: var(--primary-font-fourth);
}

/* Button Design */
.button-design {
    position: relative;
    z-index: 1;
    background-color: var(--primary-red) !important;
    color: var(--primary-white) !important;
    font-family: var(--primary-font-third) !important;
    border-radius: 5px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Background layer for button */
.button-design::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-white);
    border-radius: 5px;
    z-index: -1;
    transition: width 0.4s ease;
}

/* Button hover effects */
.button-design:hover {
    color: var(--primary-red) !important;
    background-color: transparent;
}

.button-design:hover::after {
    width: 100%;
}

/* Active press-down effect */
.button-design:active {
    transform: scale(0.98);
}

/* Container padding */
.container-about_us {
    padding: 8rem;
}

/* About Us section styling */
#about_us {
    font-family: var(--primary-font-third);
}

#about_us img {
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.3));
}

/* Contact Us section styling */
#contact_us {
    background-color: #292929;
    color: var(--primary-white);
    font-family: var(--primary-font-third);
}

/* Modal content styling */
.modal-content {
    color: var(--primary-black) !important;
}


/* Carousel image styling */
.carousel-image {
    height: 90vh;
    object-fit: cover;
}

/* ----------- The contact us ----------- */

/* Button Design */
.button-design {
    position: relative;
    z-index: 1;
    background-color: var(--primary-red) !important;
    color: var(--primary-white) !important;
    font-family: var(--primary-font-third) !important;
    border-radius: 5px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Background layer for button */
.button-design::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-white);
    border-radius: 5px;
    z-index: -1;
    transition: width 0.4s ease;
}

/* Button hover effects */
.button-design:hover {
    color: var(--primary-red) !important;
    background-color: transparent;
}

.button-design:hover::after {
    width: 100%;
}

/* Active press-down effect */
.button-design:active {
    transform: scale(0.98);
}

/* Contact Us section styling */
#contact_us {
    background-color: #292929;
    color: var(--primary-white);
    font-family: var(--primary-font-third);
}

/* Committee Section Styling */
.committee {
    font-family: var(--primary-font-third);
    font-size: calc(15px + 0.1vw);
}

/* Committee Brief Styling */
#committee-brief {
    font-family: var(--primary-font-second);
}

/* Heading within the Committee Brief */
#committee-brief h2 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Committee Text Styling */
#committee_text {
    font-family: var(--primary-font-third);
    font-size: calc(15px + 0.1vw);
    font-size: 1.3rem;
}

/* Committee Member Titles Styling */
#committee_members h4 {
    font-family: var(--primary-font-second);
}

/* Committee Member Names Styling */
#committee_members_additional h4 {
    font-family: var(--primary-font-second);
}

/* Modal Content Styling */
.modal-content {
    color: var(--primary-black) !important;
}

/* Emergency Box Styling */
.emergency-box {
    background: var(--primary-red);
    animation: pulse-glow 2s infinite;
    color: #0a0a0a;
    font-weight: bold;
    text-shadow: none;
}

/* Highlighted Text Styling */
.highlight {
    background-color: #fff;
    color: var(--primary-black);
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
    font-weight: bold;
}

/* ----------- Safety ----------- */

/* Fullscreen image with overlay text support */
.front_img {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Large title in the front image section */
#intro_title {
    font-size: 10rem;
    font-family: var(--primary-font-second) !important;
    color: var(--primary-yellow);
    text-align: center;

}

/* Overlay for a dark opacity over background image */
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    margin: auto;
}

/* ----------- Titles, images, and texts sizes ----------- */

/* Size for safety title */
.safety_title {
    font-family: var(--primary-font-fourth);
    font-size: 2.8rem;

}

/* Size for safety text */
.safety_text {
    font-family: var(--primary-font-third);
    font-size: 0.935rem;
}

/* Smaller size col-1 */
#smaller_col_1-01 {
    width: 3.5%;
    flex: 0 0 3.5%;
    max-width: 3.5%;
}

/* Image size for grid structure */
.safety_grid_structure_img {
    width: 100%;
    min-height: 73.5vh;
    padding: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
}

/* Colour for underline */
.underline_colour {
    text-decoration-color: var(--primary-red);
}

/* ----------- Divider Breakdown ----------- */

/* Horizontal line across sections */
.hr-lines {
    position: relative;
    height: 2px;
    margin: 0;
}

/* Horizontal line across sections first one */
.hr-lines-left::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--primary-black);
    top: 50%;
    right: -5%;
}

/* Horizontal line across sections second one*/
.hr-lines-right::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--primary-black);
    top: 50%;
    left: -5%;
}

/* Size for the breakdown logo */
.small-logo {
    width: 120px;
    height: auto;
}

/* Smaller br size */
.small-br {
    display: block;
    height: 0.7em;
    /* smaller space */
}

/* ----------- Recommended clothing, links section -----------*/

/* Background image for the section */
#recommended_clothing_background_img {
    background-size: cover;
    background-position: center;
    min-height: 110vh;
    position: relative;
    transition: opacity 0.7s ease-in-out;
    width: 100%;
    opacity: 0;
}

/* Javascript visible class at the end, with overlay colour */
#recommended_clothing_background_img.visible {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    opacity: 1;
    background-image: url('../images/Mens_korero2.jpg');
}

/* Colour for recommended clothing title */
#recommended_clothing_title_colour {
    color: var(--primary-white);

}

/* Colour for recommended clothing text */
#recommended_clothing_text_colour {
    color: var(--primary-white);
}

/* A container box to style and center content */
.content-box_recommended_clothing {
    color: white;
    padding: 13rem;
    border-radius: 5px;
    text-align: center;
}

/* Link animation */
.links_animation a {
    color: var(--primary-white);
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 0.4rem;
}

/* Link animation before */
.links_animation a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25%;
    height: 0.25rem;
    background-color: var(--primary-blue);
    transform: translateX(-50%);
    transition: width 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Link animation before with hover on */
.links_animation a:hover::before {
    width: 100%;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

/* Link animation */
.links_animation_black a {
    color: var(--primary-black);
    font-family: var(--primary-font-third);
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 0.4rem;
}

/* Link animation before */
.links_animation_black a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25%;
    height: 0.25rem;
    background-color: var(--primary-blue);
    transform: translateX(-50%);
    transition: width 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Link animation before with hover on */
.links_animation_black a:hover::before {
    width: 100%;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

/* ----------- New Members ----------- */

/* Size for New Members text */
.new_members_text {
    font-family: var(--primary-font-third);
    font-size: 0.935rem;
}

/* Make the card slider visible as defult */
.card_slider {
    display: block;
}

/* Hide the card gallery for mobile by default */
.card_gallery_mobile {
    display: none;
}

/* Background image for card slider's sub-header */
.background_image_cards {
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    position: relative;
    width: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

/* Sub-header title for new members card slider */
.new_members_cards_title {
    font-family: var(--primary-font-fourth);
    color: var(--primary-white);
    font-size: 2.8rem;
    text-align: center;

}

/* Style for multiple buttons: yearly fees, mobile fees, payment, submit, and OK */
#button_colour_yearly_fees,
#button_colour_yearly_fees_mobile,
#button_colour_yearly_fees_payment,
#button_colour_yearly_fees_submit,
#button_colour_yearly_fees_ok {
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for the same set of buttons */
#button_colour_yearly_fees:hover,
#button_colour_yearly_fees_mobile:hover,
#button_colour_yearly_fees_payment:hover,
#button_colour_yearly_fees_submit:hover,
#button_colour_yearly_fees_ok:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}

/* Red colour for the correct sign */
.correct_sign {
    color: red;
    font-size: 20px;
}

/* Swiper card slider flex container that  align horizontally and vertically */
.swiper-wrapper {
    display: flex;
    align-items: center;
}

/* Styling for Swiper card slider, with scaling and transition effects */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
    transform: scale(0.8);
}

/* Enlarge the present card with a higehr opacity and z-index */
.swiper-slide-active {
    transform: scale(1.1);
    z-index: 3;
    opacity: 1;
}

/* Reduce the hiden card with a higehr opacity and z-index */
.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(0.8) translateX(-10%);
    z-index: 2;
    opacity: 0.5;
}

/* Adjusts the next card's position specifically */
.swiper-slide-next {
    transform: scale(0.8) translateX(10%);
}

/* Hidden the Swiper cards that are not in the active */
.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next) {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
}

.new_members_button_text {
    font-family: var(--primary-font-second);
}

/* Styling for the new members form title */
.new_members_form_title {
    color: var(--primary-black);
    font-family: var(--primary-font);

}

/* The carousel card gallery */
.simple-carousel {
    margin: 0 auto;
    overflow: hidden;
}

/* The carousel card gallery container */
.carousel-container {
    display: flex;
    transition: transform 0.3s ease;
}

/* Styling for cards in the gallery */
.carousel-card {
    min-width: 100%;
}


/* Styling navigation container for carousel controls */
.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* Styling for the previous and next buttons in the gallery */
#button_colour_change_card_prev,
#button_colour_change_card_next {
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
}

/* Hover effect for the previous and next buttons */
#button_colour_change_card_prev:hover,
#button_colour_change_card_next:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}

/* Styling for the close button in the form */
#button_form_colour_close {
    color: var(--primary-black);
    border: solid var(--primary-black);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for the close button in the form*/
#button_form_colour_close:hover {
    color: var(--primary-white);
    background-color: var(--primary-black);
}

/* Font style for the button text */
.new_members_button_text {
    font-family: var(--primary-font-second);
}

/* Popup styles matching the video demonstration */
.popup {
    width: 300px;
    background: var(--primary-white);
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 20px;
    color: var(--primary-black);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    z-index: 1050;

}

/* Styling for popup when the second pop-up is open */
.popup.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
}

/* Correct second pop-up image */
.popup img {
    max-width: 80px;
    display: block;
    margin: 0 auto 10px;
}

/* Changable Text Container */
.rotating-text-container {
    pointer-events: none;
    /* Allows clicks through to content */
}

/* The background changeable text's colour, font, and size */
#new_members_background_text {
    font-size: 18rem;
    font-family: var(--primary-font);
    color: var(--primary-white);

}

/* Individual Rotating Words */
.rotating-text span {
    display: block;
    position: absolute;
    left: 50%;
    margin-top: 20vh;
    transform: translate(-50%, -50%);
    opacity: 0;
    white-space: nowrap;
    animation: rotateWords 16s linear infinite;
    width: max-content;
}

/* First word that appears */
.rotating-text span:nth-child(1) {
    animation-delay: 0s;
}

/* Second word that appears */
.rotating-text span:nth-child(2) {
    animation-delay: 4s;
}

/* Third word that appears */
.rotating-text span:nth-child(3) {
    animation-delay: 8s;
}

/* Fourth word that appears */
.rotating-text span:nth-child(4) {
    animation-delay: 12s;
}

/* Keyframes for rotating text animation with fade-in, hold, and fade-out effects */
@keyframes rotateWords {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }

    5% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    25% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }

    100% {
        opacity: 0;
    }
}

/* Overlay for new club members section */
.new_members-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 49, 49, 0.73);
    margin: auto;
}

/* A content box that act as a container to control the padding for new members club section */
.content-box {
    color: var(--primary-white);
    padding: 15rem;
    text-align: center;
}

/* Backgound image for new club members section */
.new_members_background_img {
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
    width: 100%;

}

/* Sub-header title for new club members */
.new_clubs_members_title {
    font-family: var(--primary-font-fourth);
    font-size: 4rem;
    margin-bottom: 8rem;

}

/* Content information for new club members */
.new_clubs_members_text {
    font-family: var(--primary-font-third);
    font-size: 1.5rem;

}

/* ----------- Existing Members ----------- */

/* classes used through out the page */

/* main div styling*/
main {
    margin: 100px auto 0px auto;
    font-family: var(--primary-font-third);
}

/* Heading's styling */
h1 {
    font-family: var(--primary-font-fourth) !important;
    color: blue;
}

h3 {
    font-family: var(--primary-font-third);
    text-decoration: underline;
    text-decoration-color: var(--primary-red);

}

/* Underline styling */
.underline_styling {
    text-decoration: underline;
    text-decoration-color: var(--primary-red);
}


/* Styling for the Fees due date section of the page */

#existing_members_landing {
    margin: 10px 0px;
}

.existing_members_landing_img {
    width: 700px;
    margin: 20px 0;
    box-shadow: 2px 5px 15px;
}


/* ID card section styling */

#id_cards_start {
    margin: 0;
}

.indent {
    padding-left: 40px;
}

/* Notebox styling */
#note-box {
    font-style: italic;
    font-size: 0.75rem;
    color: #555;
    border-left: 4px solid #2FBEC2;
    /* your site’s teal */
    padding-left: 1rem;
    margin-top: 0.5rem;
    opacity: 0.85;
}

/* Tooltip styling */
#custom-tooltip {
    position: relative;
    cursor: help;
    border-bottom: 1px dotted #999;
}

/* Tooltip text styling */
#custom-tooltip #tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 180px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    /* Position above */
    left: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
}

/* Tooltip hover setting */
#custom-tooltip:hover #tooltip-text {
    visibility: visible;
    opacity: 1;
}


/* club portal information section styling */

.club_portal_img {
    box-shadow: 2px 5px 15px;

}

#club_portal_list li {
    border: 2px dashed var(--primary-yellow);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}


/* Styling for Club portal link */

#club_portal_link {
    border: 3px dashed var(--primary-red);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

/* ----------- About Us ----------- */

/* Adjusted h-100 class */
img.h-100 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Styling for the introduction content of the page */

#about_us_landing_img {
    width: 700px;
    margin: 20px 0;
    box-shadow: 2px 5px 15px;
}

#about_us_landing {
    margin: 10px 0px;
}

/* Our vision and mission section styling */

#our_vision {
    border: 1px solid var(--primary-blue);
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

#our_mission {
    border: 1px solid var(--primary-red);
    border-right: 0;
    border-radius: 10px 0 0 10px;
    text-align: end;
}

.image_large {
    display: inline-block;
}

#our_vision_img {
    border-radius: 10px 0 0 10px;
}

#our_mission_img {
    border-radius: 0 10px 10px 0;
}

#image_small {
    display: none;
}

/* Our values section styling*/

/* Styling for the value 'cards' of value section*/
.values_styling {
    border: 2px solid var(--primary-yellow);
    padding: 10px;
    border-radius: 10px;
}


/* Constitution section styling */

#constitution {
    border: 3px dashed var(--primary-blue);
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}

/* ----------- The footer section ----------- */

/* Customize footer section's colour and text font */
footer {
    font-family: "Phosphate Pro Cond Solid";
    background-color: var(--primary-white);
    border: var(--primary-black);

}

/* Text size in footer section */
#footer_text {
    margin: 0px 20px;
    font-size: calc(15px + 0.1vw);
    color: var(--primary-red);
}

/* Size and margin for media icons in large screen */
.media_icons {
    width: calc(35px + 0.1vw);
    margin: 0 10px;
}

/* Margin for media icons in small screen */
#mobile_icons {
    margin-top: 25px;
}

/* Media Queries */

/* Large devices (large desktops) */
@media (max-width: 1200px) {
    #new_members_background_text {
        font-size: 15rem !important;
    }

    .rotating-text span {
        margin-top: 25vh !important;
    }
}

/* Desktop screen size of changing texts, content and images*/
@media (max-width: 1024px) {
    .front_img {
        min-height: 90vh;
    }

    #hero {
        height: 90vh;
    }

    #intro_title {
        font-size: calc(6rem + 1vw);
    }

    .safety_title {
        font-size: calc(1.4rem + 1vw);
    }

    .safety_text {
        font-size: calc(0.52rem + 0.5vw);
    }

    #recommended_clothing_background_img {
        min-height: 100vh;
    }

    #new_members_background_text{
        font-size: 11rem !important;
    }

    .content-box, .content-box_recommended_clothing {
        padding: 9rem;
    }

    .content_new_members-box {
        padding: 9rem !important;
    }

    .new_clubs_members_title {
        font-size: 3rem !important;

    }

    .new_clubs_members_text {
        font-size: 1.3rem !important;

    }

    .rotating-text span {
        margin-top: 25vh !important;
    }

    .card_slider {
        display: none;
    }

    .card_gallery_mobile {
        display: block;
    }


}

/* Medium devices (desktops, larger tablets) */
@media (max-width: 992px) {
    #our_vision {
        border: 1px solid var(--primary-blue);
        border-radius: 10px;
        margin: 10px 0;
        text-align: center;
    }

    #our_mission {
        border: 1px solid var(--primary-red);
        border-radius: 10px;
        margin: 5px 0;
        text-align: center;
    }

    .image_large {
        display: none;
    }

    #image_small {
        display: inline;


    }

    #image_small img {
        box-shadow: 1px 2px 10px;

    }

}




/* Tablet screen size of changing texts, content and images*/
@media (max-width: 980px) {
    .front_img {
        min-height: 80vh;
    }

    #hero {
        height: 90vh;
    }

    #intro_title {
        font-size: calc(5rem + 1vw);
    }

    .safety_title {
        font-size: calc(2rem + 1vw);
    }

    .safety_text {
        font-size: calc(0.5rem + 0.5vw);
    }

    #recommended_clothing_background_img {
        min-height: 110vh;
    }

    .content-box,.content-box_recommended_clothing {
        padding: 5.5rem;
    }

    .safety_grid_structure_img {
        min-height: 70vh;
    }
}

/* Small devices (tablets, landscape phones) */
@media (max-width: 768px) {
    .front_img {
        min-height: 80vh;
    }

    #hero {
        height: 90vh;
    }

    #intro_title {
        font-size: calc(5rem + 1vw);
    }

    .safety_title {
        font-size: calc(2rem + 1vw);
    }

    .safety_text {
        font-size: calc(0.7rem + 0.5vw);
    }

    #recommended_clothing_background_img {
        min-height: 130vh;
    }

    .content-box,.content-box_recommended_clothing {
        padding: 5.5rem;
    }

    .safety_grid_structure_img {
        min-height: 50vh;
    }

    .carousal-image {
        aspect-ratio: 9/16;
        object-fit: cover;
    }

    .carousal-image {
        aspect-ratio: 9/16;
        object-fit: cover;
    }

    .content_new_members-box {
        padding: 3rem !important;
    }

    .new_clubs_members_title {
        font-size: 3rem !important;
        margin-bottom: 1.5rem;

    }

    .new_clubs_members_text {
        font-size: 1.3rem !important;

    }

    .rotating-text span {
        margin-top: 30vh !important;
    }

    .rotating-text {
        display: none;
    }
}

/* Extra small devices (phones) */
@media (max-width: 576px) {

    #about_us .col-md-6 {
        margin-bottom: 2rem;
    }

    #about_us .col-md-5 {
        margin-top: 0 !important;
        margin-bottom: 1rem;
    }

    .container-about_us {
        padding: 2rem 1rem;
    }
}

/* Mobile screen size of changing texts, content and images*/
@media (max-width: 480px) {
    .front_img {
        min-height: 70vh;
    }

    #hero {
        height: 90vh;
    }

    #intro_title {
        font-size: calc(4rem + 1vw);
    }

    .safety_title {
        font-size: calc(2rem + 1vw);
    }

    .safety_text {
        font-size: calc(0.6em + 0.7vw);
    }

    #recommended_clothing_background_img {
        min-height: 115vh;
    }

    .content-box,.content-box_recommended_clothing {
        padding: 4rem;
    }

    .content_new_members-box {
        padding: 1rem !important;
    }

    .new_clubs_members_title {
        font-size: 2.5rem !important;

    }

    .new_clubs_members_text {
        font-size: 1.1rem !important;

    }
}


/* Smaller mobile screen size of changing texts, content and images*/
@media (max-width: 420px) {

    #recommended_clothing_background_img {
        min-height: 130vh;
    }

    .content-box,.content-box_recommended_clothing {
        padding: 2.5rem;
    }
}

/* Even smaller mobile screen size of changing texts, content and images*/
@media (max-width: 280px) {
    #intro_title {
        font-size: calc(3rem + 1vw);
    }

    .content-box,.content-box_recommended_clothing {
        padding: 2rem;
    }

    #recommended_clothing_background_img {
        min-height: 120vh;
    }

    .safety_title {
        font-size: calc(1.5rem + 1vw);
    }

    .safety_text {
        font-size: calc(0.55em + 0.7vw);
    }
}

/* Changing the changeable text's margin in 975px */
@media (max-height: 975px) {
    .rotating-text span {
        margin-top: 10vh !important;
    }
}

/* Changing the changeable text's margin in 875px */
@media (max-height: 875px) {
    .rotating-text span {
        margin-top: 10vh !important;
    }
}

/* Changing the changeable text's margin in 875px */
@media (max-height: 800px) {
    .rotating-text span {
        margin-top: 5vh !important;
    }
}


/* Changing the changeable text's margin in 729px */
@media (max-height: 729px) {
    .rotating-text span {
        margin-top: 0vh !important;
    }
}

/* Changing the recommended clothing background image min-height in 660px */
@media (max-height: 660px) {
    #recommended_clothing_background_img {
        min-height: 150vh;
    }
}

/* Changing the changeable text's margin in 600px, and the recommended clothing background image min-height in 660px */
@media (max-height: 600px) {
    .rotating-text span {
        margin-top: 0vh !important;
    }
    #recommended_clothing_background_img {
        min-height: 170vh;
    }
}

/* Changing the recommended clothing background image min-height in 500px */
@media (max-height: 500px) {
    #recommended_clothing_background_img {
        min-height: 200vh;
    }
}
/* Changing the recommended clothing background image min-height in 420px */
@media (max-height: 420px) {
    #recommended_clothing_background_img {
        min-height: 240vh;
    }
}
