/* Import the custom font */
@font-face {
    font-family: 'Phosphate Pro Cond Solid';
    src: url('font/phosphate_pro_cond_solid_regular_fixed.otf') format('opentype');
}

@font-face {
    font-family: 'Phosphate Pro Solid';
    src: url('font/phosphate_pro_solid_fixed.otf') format('opentype');
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url('font/bookman_old_style.TTF') format('opentype');
}

@font-face {
    font-family: 'Phosphate Pro Cond Inline';
    src: url('font/phosphate_pro_cond_inline_regular_fixed.otf') format('opentype');
}

/* The primary colours to make a consistency website colour */
:root{
    --primary-font: 'Phosphate Pro Cond Solid', sans-serif;
    --primary-font-second:'Phosphate Pro Solid', sans-serif ;
    --primary-font-third:'Bookman Old Style', sans-serif;
    --primary-font-fourth:'Phosphate Pro Cond Inline';
    --primary-white: #ffffff;
    --primary-black:#000000;
    --primary-red: #E42D26;
    --primary-yellow: #FDC010;
    --primary-blue: #2FBEC2;
}

/* Apply the custom font and color */
body,html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#RBOCC_header-title{
    font-size: 1.5rem;
    font-family: var(--primary-font) !important;
}

/* Changing the colour in navbar */
.navbar{
    background: var(--primary-white);
    font-family: var(--primary-font) !important;
}

/* Remove border from the navbar toggler button */
.navbar-light .navbar-toggler{
    border: 0 solid white;
}

/* Styling for navbar toggler button */
.nav-toggler {
    width: 40px;
    height: 40px;
    position: relative;
    transition: .5s ease-in-out;

}

/* Remove focus outlines and borders from navbar toggler */
.navbar-toggler, 
.navbar-toggler:focus, 
.navbar-toggler:active, 
.navbar-toggler-icon:focus {
    outline:none;
    box-shadow: none;
    border: 0;
}

/* Remove margin and padding from span  */
.navbar-toggler span{
    margin: 0;
    padding: 0;
}


/* Fixing Navbar Toggler Styling */
.navbar-toggler {
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38px;
    width: 65px;
}

/* Toggler Icon Bars */

/* Styling for top bar */
.top-bar{
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-blue);
    transition: all 0.3s ease-in-out;
}


/* Styling for middle bar */
.middle-bar{
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-yellow);
    transition: all 0.3s ease-in-out;
}


/* Styling for bottom bar */
.bottom-bar{
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-red);
    transition: all 0.3s ease-in-out;
}

/* Toggler Animation */

/* Animation effect when the navbar toggler is active */
.navbar-toggler:not(.collapsed) .top-bar {
    transform: translateY(12px) rotate(45deg);

    
}

/* Hide middle bar */
.navbar-toggler:not(.collapsed) .middle-bar {
    opacity: 0;

}

/* Animation effect when the navbar toggler is active */
.navbar-toggler:not(.collapsed) .bottom-bar {
    transform: translateY(-12px) rotate(-45deg);

}

/* Reset when collapsed */
.navbar-toggler.collapsed .top-bar,
.navbar-toggler.collapsed .bottom-bar {
    transform: none;
}

/* Show the bar again after the reset */
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    
}

.front_img {
    background-size: cover;  
    background-position: center; /* Ensures the image is centered */ 
    min-height: 100vh;
    position: relative;
    width: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#safety_intro_title {
    font-size: 10rem;
    font-family: var(--primary-font-second) !important;
    color: var(--primary-yellow);

}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.50);
    margin: auto;
}


.safety_title{
    font-family: var(--primary-font-fourth);
    font-size: 2.8rem;

}

.safety_text{
    font-family: var(--primary-font-third);
    font-size: 0.935rem;
}

#smaller_col_1-01{
    width: 3.5%; 
    flex: 0 0 3.5%;
    max-width: 3.5%;
}

.safety_grid_structure_img{
    width: 100%;
    min-height: 70vh;
    padding: 10px;
    position: relative;
    background-size: cover;  
}

.hidden-li{
    list-style-type: none;  
}

.underline_colour{
    text-decoration-color: var(--primary-red);
}

.hr-lines {
    position: relative;
    height: 2px;
    margin: 0;
}

.hr-lines-left::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--primary-black);
    top: 50%;
    right: -5%;
}

.hr-lines-right::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--primary-black);
    top: 50%;
    left: -5%;
}

.small-logo {
    width: 120px;
    height: auto;
}

.small-br {
    display: block;
    height: 0.7em; /* smaller space */
}
  
#recommended_clothing_background_img{
    background-size: cover;  
    background-position: center;
    min-height: 110vh;
    position: relative;
    transition: opacity 0.7s ease-in-out;
    width: 100%;
    opacity: 0;
}


#recommended_clothing_background_img.visible {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    opacity: 1;
    background-image: url('./images-resized-compressed/Mens_korero2.jpg');
}

#recommended_clothing_title_colour{
    color: var(--primary-white);

}

#recommended_clothing_text_colour{
    color: var(--primary-white);
}

.content-box {
    color: white;
    padding: 13rem;
    border-radius: 5px;
    text-align: center;
}

.links_animation a {
    color: var(--primary-white);
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 0.4rem;
}

.links_animation a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25%;
    height: 0.25rem;
    background-color: var(--primary-blue);
    transform: translateX(-50%);
    transition: width 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.links_animation a:hover::before {
    width: 100%;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

footer{
    font-family: "Phosphate Pro Cond Solid";
    background-color: var(--primary-white);
    border: var(--primary-black);
   
}

#footer_text{
    margin: 0px 20px;
    font-size: calc(15px + 0.1vw);
    color: var(--primary-red);
}


.media_icons{
    width: calc(35px + 0.1vw);
    margin: 0 10px;
}


#small_logo{
    width: 100px;

}

#mobile_icons{
    margin-top: 25px;
}


/* Tablet screen size */
@media (max-width: 1024px) { 
    .front_img {
        min-height: 90vh;
    }
    #safety_intro_title {
        font-size: calc(6rem + 1vw);
    }
    .safety_title{
        font-size: calc(1.3rem + 1vw); /* Even smaller for small mobile devices */

    }
    .safety_text{
        font-size: calc(0.42rem + 0.7vw); /* Even smaller for small mobile devices */
    }
    #recommended_clothing_background_img{
        min-height: 95vh;
    }
    .content-box{
        padding: 9.5rem;
    }
}

/* Mobile screen size */
@media (max-width: 768px) { 
    .front_img {
        min-height: 80vh; /* Reduce height more for mobile devices */
    }
    #safety_intro_title {
        font-size: calc(5rem + 1vw); /* smaller for small devices */
    }
    .safety_title{
        font-size: calc(2rem + 1vw); /* Even smaller for small mobile devices */
    }
    .safety_text{
        font-size: calc(0.7rem + 0.5vw); /* Even smaller for small mobile devices */
    }#recommended_clothing_background_img{
        min-height: 130vh;
    }
    .content-box{
        padding: 6rem;
    }
    .safety_grid_structure_img{
        min-height: 50vh;
    }

}

/* Small Mobile screen size */
@media (max-width: 480px) { 
    .front_img {
        min-height: 70vh; /* Reduce height more for small mobile devices */
    }
    #safety_intro_title {
        font-size: calc(4rem + 1vw); /* Even smaller for small mobile devices */
    }
    .safety_title{
        font-size: calc(2rem + 1vw); /* Even smaller for small mobile devices */

    }
    .safety_text{
        font-size: calc(0.6em + 0.7vw); /* Even smaller for small mobile devices */
    }
    #recommended_clothing_background_img{
        min-height: 110vh;
    }
    .content-box{
        padding: 4rem;
    }
}

@media (max-width: 420px){
    .safety_title{
        font-size: calc(1.4rem + 1vw); /* Even smaller for small mobile devices */

    }
    .safety_text{
        font-size: calc(0.6em + 0.7vw); /* Even smaller for small mobile devices */
    }
    #recommended_clothing_background_img{
        min-height: 115vh;
    }
    .content-box{
        padding:2.5rem;
    }

}

/* Small Mobile screen size */
@media (max-width: 280px) { 
    #safety_intro_title {
        font-size: calc(3rem + 1vw); /* Even smaller for small mobile devices */
    }
    .content-box{
        padding: 2rem;
    }
    #recommended_clothing_background_img{
        min-height: 120vh;
    }
    .safety_title{
        font-size: calc(1.5rem + 1vw); /* Even smaller for small mobile devices */

    }
    .safety_text{
        font-size: calc(0.55em + 0.7vw); /* Even smaller for small mobile devices */
    }
    
}