<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags for character set, IE compatibility, and responsiveness -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS file for header styling -->
    <link rel="stylesheet" href="header.css">

    <!-- Link to Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Page title -->
    <title>Header Trialling</title>
  </head>

  <body>
    
    <!-- Navbar section using Bootstrap classes -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <!-- Brand link containing logo and club name -->
        <a class="navbar-brand" href="#">
          <!-- Club logo image -->
          <img src="RBOCC_BLACK_COLOUR.png" alt="" width="75" class="d-inline-block">
          <!-- Club name text -->
          Red Beach Outrigger Club
        </a>   
      </div>
    </nav>
    
    <!-- Include jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

  </body>
</html>
