/* Import the custom font */
@font-face {
    font-family: 'Phosphate Pro Cond Solid';
    src: url('font/phosphate_pro_cond_solid_regular_fixed.otf') format('opentype');
}

@font-face {
    font-family: 'Phosphate Pro Solid';
    src: url('font/phosphate_pro_solid_fixed.otf') format('opentype');
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url('font/bookman_old_style.TTF') format('opentype');
}

@font-face {
    font-family: 'Phosphate Pro Cond Inline';
    src: url('font/phosphate_pro_cond_inline_regular_fixed.otf') format('opentype');
}

/* The primary colours to make a consistency website colour */
:root {
    --primary-font: 'Phosphate Pro Cond Solid', sans-serif;
    --primary-font-second: 'Phosphate Pro Solid', sans-serif;
    --primary-font-third: 'Bookman Old Style', sans-serif;
    --primary-font-fourth: 'Phosphate Pro Cond Inline';
    --primary-white: #ffffff;
    --primary-black: #000000;
    --primary-red: #E42D26;
    --primary-yellow: #FDC010;
    --primary-blue: #2FBEC2;
}

/* Apply the custom font and color */
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Changing the colour in navbar */
.navbar {
    background: var(--primary-white);
    font-family: var(--primary-font-second) !important;
}

/* Remove border from the navbar toggler button */
.navbar-light .navbar-toggler {
    border: 0 solid white;
}

/* Styling for navbar toggler button */
.nav-toggler {
    width: 40px;
    height: 40px;
    position: relative;
    transition: .5s ease-in-out;

}

/* Remove focus outlines and borders from navbar toggler */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

/* Remove margin and padding from span  */
.navbar-toggler span {
    margin: 0;
    padding: 0;
}


/* Fixing Navbar Toggler Styling */
.navbar-toggler {
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38px;
    width: 65px;
}

/* ----------- Toggler Icon Bars ----------- */

/* Styling for top bar */
.top-bar {
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-blue);
    transition: all 0.3s ease-in-out;
}


/* Styling for middle bar */
.middle-bar {
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-yellow);
    transition: all 0.3s ease-in-out;
}


/* Styling for bottom bar */
.bottom-bar {
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--primary-red);
    transition: all 0.3s ease-in-out;
}

/* ----------- Toggler Animation ----------- */

/* Animation effect when the navbar toggler is active */
.navbar-toggler:not(.collapsed) .top-bar {
    transform: translateY(12px) rotate(45deg);


}

/* Hide middle bar */
.navbar-toggler:not(.collapsed) .middle-bar {
    opacity: 0;

}

/* Animation effect when the navbar toggler is active */
.navbar-toggler:not(.collapsed) .bottom-bar {
    transform: translateY(-12px) rotate(-45deg);

}

/* Reset when collapsed */
.navbar-toggler.collapsed .top-bar,
.navbar-toggler.collapsed .bottom-bar {
    transform: none;
}

/* Show the bar again after the reset */
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;

}

/* ----------- Front images and front title----------- */

/* Fullscreen image with overlay text support */
.front_img {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Large title in the front image section */
#new_members_intro_title {
    font-size: 10rem;
    font-family: var(--primary-font-second) !important;
    color: var(--primary-yellow);
    text-align: center;

}

/* Overlay for a dark opacity over background image */
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    margin: auto;
}

/* Size for safety title */
.new_members_title {
    font-family: var(--primary-font-fourth);
    font-size: 2.8rem;

}

/* Size for safety text */
.new_members_text {
    font-family: var(--primary-font-third);
    font-size: 0.935rem;
}

/* Colour for underline */
.underline_colour {
    text-decoration-color: var(--primary-red);
}

.card_slider {
    display: block;
}

.card_gallery_mobile {
    display: none;
}

.background_image_cards {
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    position: relative;
    width: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

.new_members_cards_title {
    font-family: var(--primary-font-fourth);
    color: var(--primary-white);
    font-size: 2.8rem;
    text-align: center;

}

#button_colour_yearly_fees {
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button_colour_yearly_fees:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}

#button_colour_yearly_fees_mobile{
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button_colour_yearly_fees_mobile:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}

#button_colour_yearly_fees_payment{
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button_colour_yearly_fees_payment:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}

#button_colour_yearly_fees_submit{
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button_colour_yearly_fees_submit:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}

#button_colour_yearly_fees_ok{
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button_colour_yearly_fees_ok:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}


.correct_sign {
    color: red;
    font-size: 20px;
}

.swiper-card-lg-container {
    display: none;
}



.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
    transform: scale(0.8);
}




.swiper-slide-active {
    transform: scale(1.1);
    z-index: 3;
    opacity: 1;
}


.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(0.8) translateX(-10%);
    z-index: 2;
    opacity: 0.5;
}

.swiper-slide-next {
    transform: scale(0.8) translateX(10%);
}



.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next) {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
}

.new_members_form_title {
    color: var(--primary-black);
    font-family: var(--primary-font);

}

#button_form_colour_close {
    color: var(--primary-black);
    border: solid var(--primary-black);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button_form_colour_close:hover {
    color: var(--primary-white);
    background-color: var(--primary-black);
}

.new_members_button_text {
    font-family: var(--primary-font-second);
}


/* Popup styles matching the video demonstration */
.popup {
    width: 300px;
    background: var(--primary-white);
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 20px;
    color: var(--primary-black);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    z-index: 1050;

}


.popup.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
}

.popup img {
    max-width: 80px;
    display: block;
    margin: 0 auto 10px;
}

#new_members_background_text {
    font-size: 20rem;
    font-family: var(--primary-font);
    color: var(--primary-white);

}


/* Rotating Text Container (FULL VIEWPORT COVER) */
.rotating-text-container {
    pointer-events: none;
    /* Allows clicks through to content */
}

/* Individual Rotating Words */
.rotating-text span {
    position: absolute;
    left: 50%;
    margin-top: 17vh;
    transform: translate(-50%, -50%);
    opacity: 0;
    white-space: nowrap;
    animation: rotateWords 16s linear infinite;
    width: max-content;
    /* Perfect centering */
}

.rotating-text span:nth-child(1) {
    animation-delay: 0s;
}

.rotating-text span:nth-child(2) {
    animation-delay: 4s;
}

.rotating-text span:nth-child(3) {
    animation-delay: 8s;
}

.rotating-text span:nth-child(4) {
    animation-delay: 12s;
}

@keyframes rotateWords {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }

    5% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    25% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }

    100% {
        opacity: 0;
    }
}

.new_members-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 49, 49, 0.73);
    margin: auto;
}

.small-br {
    display: block;
    height: 0.7em;
    /* smaller space */
}

.content-box {
    color: var(--primary-white);
    padding: 15rem;
    text-align: center;
}

.new_members_background_img {
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
    width: 100%;

}

.new_clubs_members_title {
    font-family: var(--primary-font-fourth);
    font-size: 4rem;
    margin-bottom: 6rem;

}

.new_clubs_members_text {
    font-family: var(--primary-font-third);
    font-size: 1.5rem;

}

/* ----------- The footer section ----------- */

/* Customize footer section's colour and text font */
footer {
    font-family: "Phosphate Pro Cond Solid";
    background-color: var(--primary-white);
    border: var(--primary-black);

}

/* Text size in footer section */
#footer_text {
    margin: 0px 20px;
    font-size: calc(15px + 0.1vw);
    color: var(--primary-red);
}

/* Size and margin for media icons in large screen */
.media_icons {
    width: calc(35px + 0.1vw);
    margin: 0 10px;
}

/* Margin for media icons in small screen */
#mobile_icons {
    margin-top: 25px;
}


@media (max-width: 1200px) {
    #new_members_background_text {
        font-size: 12rem !important;
    }

    .rotating-text span {
        margin-top: 25vh !important;
    }

}

/* Desktop screen size of changing texts, content and images*/
@media (max-width: 1024px) {
    .front_img {
        min-height: 90vh;
    }

    #new_members_intro_title {
        font-size: calc(6rem + 1vw);
    }

    .content-box {
        padding: 9rem !important;
    }

    .new_clubs_members_title {
        font-size: 3rem !important;

    }

    .new_clubs_members_text {
        font-size: 1.3rem !important;

    }

    .rotating-text span {
        margin-top: 25vh !important;
    }

    .card_slider {
        display: none;
    }

    .card_gallery_mobile {
        display: block;
    }
}

/* Tablet screen size of changing texts, content and images*/
@media (max-width: 768px) {
    .front_img {
        min-height: 80vh;
    }

    #new_members_intro_title {
        font-size: calc(5rem + 1vw);
    }

    .content-box {
        padding: 4rem !important;
    }

    .new_clubs_members_title {
        font-size: 3rem !important;

    }

    .new_clubs_members_text {
        font-size: 1.3rem !important;

    }

    .rotating-text span {
        margin-top: 30vh !important;
    }
}

@media (max-width: 480px) {
    .front_img {
        min-height: 70vh;
    }

    #new_members_intro_title {
        font-size: calc(4rem + 1vw);
    }

    .content-box {
        padding: 2rem !important;
    }

    .new_clubs_members_title {
        font-size: 2.5rem !important;

    }

    .new_clubs_members_text {
        font-size: 1.1rem !important;

    }
}


@media (max-height: 875px) {
    .rotating-text span {
        margin-top: 5vh !important;
    }
}

@media (max-height: 700px) {
    .rotating-text span {
        margin-top: 8vh !important;
    }
}

@media (max-height: 600px) {
    .rotating-text span {
        margin-top: -20vh !important;
    }
}

.simple-carousel {
    margin: 0 auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-card {
    min-width: 100%;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#button_colour_change_card_prev {
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
}

#button_colour_change_card_prev:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}

#button_colour_change_card_next {
    color: var(--primary-red);
    border: solid var(--primary-red);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
}

#button_colour_change_card_next:hover {
    color: var(--primary-white);
    background-color: var(--primary-red);
}