/* Define the custom font using @font-face */
@font-face {
    font-family: 'Phosphate'; /* Name your font */
    src: url('font/phosphate_pro_cond_inline_regular_fixed.otf'); /* Correct format for .otf */
}

/* Apply the custom font to elements */
* {
    font-family: 'Phosphate'; /* Fallback to sans-serif */
    font-size: 1.1em;
}

:root{
    background-color: white;
}

/* Changing the colour in navbar */
.navbar{
    background: linear-gradient(to right, #FDC010 ,#2FBEC2,#E42D26);
}