footer{
  
    background-color: black;
    
}

#logo_div{
    margin: 0 auto;
}

.hr-lines{
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}
  
.hr-lines:before{
    content:" ";
    height: 2px;
    width: calc(1.5rem + 31vw);
    background: white;
    display: block;
    position:absolute;
    top: 50%;
    left: 0;
    right: 300px;
}
  
.hr-lines:after{
    content:"";
    height: 2px;
    width: calc(1.5rem + 31vw);
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}


#social_media{
    font-size: calc(0.3rem + 1vw);
    margin: 30px auto 20px auto;
}


p {
    font-size: calc(0.1rem + 1vw);
    color: white;

    
}
