footer{
  
    background-color: white;
    
}

#logo_div{
   


    margin: 0 auto;
}

.hr-lines{
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}
  
.hr-lines:before{
    content:" ";
    height: 2px;
    width: 35%;
    background: black;
    display: block;
    position:absolute;
    top: 50%;
    left: 0;
    right: 300px;
}
  
.hr-lines:after{
    content:"";
    height: 2px;
    width: 35%;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}
